

.plats {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.plats img {
width: 150px;
height: auto;

}

.plats h4 {
    display: inline;
}

body {background-color: rgb(164, 218, 218);}

/* créer backoffice.css pour mettre le tailwind dedans
pas oublier de git checkout l'app.Css, et le JS et le web.php */
